.header {
  background-color: #b3eeb1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 6rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#settingsIcon {
  width: 6%;
  margin-right: 5%;
}

.settings .pwaBtn {
  margin-right: 0 !important;
  height: unset;
}

.settings .version {
  margin-top: 0;
}

.settings div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#deleteProfile {
  background-color: transparent;
  padding: 0;
  width: unset;
}


.deleteProfile div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 5%;
}