.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  width: 100%;
}

.loginSection h1 {
  margin-top: 20%;
}

.labels {
  font-size: 20px;
  margin: 5%;
}

.loginForm a {
  color: black;
}

.loginForm button {
  background-color: #7ba779;
  padding: 8%;
  margin: 1%;
  border-radius: 5px;
  border: none;
  font-family: berlin;
  font-size: 20px;
  margin-bottom: 8%;
  margin-top: 15%;
  width: 60%;
  color: black;
}

.loginForm .inputBoxLogin {
  text-align: left;
  font-family: berlin;
  width: 80%;
  height: 10vw;
  font-size: 20px;
  border-radius: 5px;
  border-color: none;
  border-width: 0px;
  background-color: #d5f2d4;
}

.pTags{
  font-family: berlin;
}

#loginError {
  color: #fc4848;
  width: 60%;
  text-align: center;
}

.loading {
  margin-top: 15%;
}


@media only screen and (min-width: 992px) {
  .loginSection h1 {
    margin-top: 5%;
  }

  .labels {
    margin: 2% !important;
  }

  .loginForm .inputBoxLogin {
    width: 50%;
    height: 3vw;
  }

  .loginForm {
    margin: 2%;
  }

  .loginForm button {
    padding: 2%;
    margin: 1%;
    margin-bottom: 0%;
    margin-top: 5%;
    width: 20%;
  }

  .loading {
    margin-top: 5%;
  }
}